<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        h1 {
            text-align: center;
        }

        .container {
            margin: auto;
            width: 900px;
            text-align: center;
        }

        .box {
            width: 200px;
            height: 200px;
            border: 10px solid black;
            margin: 10px;
            background-color:{{color}};
            display: inline-block;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <h1>
        Welcome!
    </h1>
    <div class="container">
        {% for i in range(num)    %}
        <!-- this is python code to create a multiplier -->
        <div class="box">
        </div>
        {% endfor %}


    </div>
</body>

</html>